main {
  width: 520px;
  flex-direction: column;
  align-items: start;
}

h1, h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

ul {
  display: flex;
  gap: 10px;
}

li{
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,15%);
}

button {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}

#main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.flex{
  display: flex;
  gap: 15px;
  margin: 30px 0;
}

.flex .wrapper{
  margin: 0;
}

#card-wrapper {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.wrapper {
  margin: 15px 0;
}